body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 5px;
}
.container{
    width: 400px;
  
    background-color: #eff0f15c;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    border: 4px solid rgba(255, 255, 255, 0.871);


    
}
button{
    width: 60px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
}